@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
	height: 100%;
	background-color: #ffffff;
	color-scheme: white;
}

.mantine-Carousel-control {
	border: none;
	color: black;

	&:hover {
		color: #ff8404;
	}
}

.like-button {
	@apply bg-no-repeat w-20 h-14 bg-left bg-transparent;
	background-size: 2900%;
}

.animate-button {
	animation: heart-burst 0.8s steps(28) forwards;
}

@keyframes heart-burst {
	0% {
		@apply bg-left;
	}
	100% {
		@apply bg-right;
	}
}
